@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&family=Tiro+Kannada&display=swap");

:root {
    --background-color: #FFFFFF;
    --primary-color: #032D64;
    --text-color:#222222;
    --accent1-color: #967920;
  }



body{
    background-color:var(--background-color);
}

main{
    margin: 10px;
    text-align: center;
}

h3, h2{
    font-family: 'Tiro Kannada', serif;
}

p{
    color:var(--text-color);
    font-family: 'Tiro Kannada', serif;
    
}

header {
    display: flex;
    justify-content:center;
    background-color: var(--primary-color);
    padding-bottom: 1rem;
}
#header-img{
    display: none;
}

/* NAVIGATION */

nav{
    margin: 0;
    background-color: var(--accent1-color);
    color:var(--primary-color);
    padding: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.7rem;
    
}
nav a{
    color:var(--primary-color);
    text-decoration: none;
}
.navigation{
    list-style: none;
    text-align: center;
    padding:0;

}
.navigation li:first-child {
    display: block;
}

.navigation li{
    display:none;
}

.responsive li {
    display: block;
}

/* FOOTER */

footer{
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

footer p, footer a{
    text-decoration: none;
    color:var(--background-color);
    font-family: 'Source Sans Pro', sans-serif;
}

/* TYPES OF RENTAL */

.title{
    color:var(--accent1-color)
}