@media only screen and (min-width: 900px){

    :root {
        --background-color: #FFFFFF;
        --primary-color: #032D64;
        --text-color:#222222;
        --accent1-color: #967920;
      }    

    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* HOME RENTALS */

    .rentals-div{
        display: flex;
        justify-content: space-around;
        margin: 1rem;
        padding-top: 2rem;
        
    }


    #attractionsdiv{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 2rem;
        padding: 2rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    }

    #locationsdiv{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin: 2rem;
        padding: 2rem;

    }

    .locationspic{
        display: grid;
        grid-template-columns: 200px 1fr;
    }

    .visiblehr{
        display: block;
    }


    /* WEATHER */


    #forecast{
        display: flex;
        column-gap: 4rem;
        padding: 1rem 4rem;
        

    }

    .weather-div{
        display: flex;
        justify-content: center;
        column-gap: 2px;

        
    }

    #current-weather-div{
        display: block;
    }

    #header-img{
        background-color: white;
    }
    /* RENTAL FORM */

    #option1, #option2, #option3{

        justify-content: center;

    }
    #rental1, #rental2, #rental3{
        padding: 2rem;
        margin: 2rem 4rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    }

    input[type=text], input[type=tel], input[type=email], select {
        padding: 0.5rem;
    }
    
    input[type=submit] {
    font-size: 1rem;
    padding: 0.5rem;
    }

    form label.top, form div {
        font-size: 1rem;
    
    }

    /* CONTACT */

    hr{
        display: none;
    }

    #map{
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }


    #faqcontact{
        display: grid;
        grid-template-columns: 60% 1fr;
        margin:2rem;
    }


    #faqdiv{
        padding: 2rem;
        margin-right: 1rem;
        text-align: left;
        padding-right: 4rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    }

    #contactdiv{
        padding: 2rem;
    }

/* TOURS */

    #tours{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2rem;
    }

    #tours div{
        box-shadow: 2px 5px 5px #c2c1c1;
        margin: 1rem;
        padding: 1rem;
        height: 650px;
    }

    #tours div:hover {
        box-shadow: 0 0 11px;
    }

    #beachdiv{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem;
    }

    .responsive{
        width: 100%;
    }

    #beach1{
        grid-column: 1/2;
    }

    #beachmap{
        display: block;
        padding:2rem;
        align-self: center;
    }





}
