@media only screen and (min-width: 900px){

    :root {
        --background-color: #FFFFFF;
        --primary-color: #032D64;
        --text-color:#222222;
        --accent1-color: #1275F8;
      }    

    header {
        justify-content:flex-start;
        
    
    }
    #header-img{
        display: block;
        float:right;
        margin:0;
        width: 100%;
        height: 100%;
    }


}