@media only screen and (min-width: 600px) {

    :root {
        --background-color: #FFFFFF;
        --primary-color: #032D64;
        --text-color:#222222;
        --accent1-color: #967920;
      }

    /* HEADER */

    header{
        padding-bottom:0;
    }

    #logo{
        padding:10%;
    }

    #header-img{
        display: none;

    }

    /* NAVIGATION */

    nav{
        font-size: 1.2rem;
        
    }


    .navigation {
        display: flex;
        
    }

    .navigation li:first-child{
        display:none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;

    }
    .active{
       color:var(--accent1-color)
    }

    .active a{
        color: var(--primary-color);
        background-color: #967920;
        padding: 1rem 2rem;
    }

    li:hover {
        font-size: larger;
    }
    
    /* TYPES OF RENTAL */
    .title{

            font-size: 2.7rem;

    }






}