@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&family=Tiro+Kannada&display=swap");

:root {
    --background-color: #FFFFFF;
    --primary-color: #032D64;
    --text-color:#222222;
    --accent1-color: #967920;
  }

body{
    background-color:var(--background-color);
}

main{
    margin: 10px;
    text-align: center;
}

h3, h2{
    color: var(--primary-color);
    font-family: 'Tiro Kannada', serif;
}

p{
    color:var(--primary-color);
    font-family: 'Tiro Kannada', serif;
    
}

header {
    display: flex;
    justify-content:center;
    background-color: var(--primary-color);
    padding-bottom: 1rem;
}

.socialdividers{
    font-size: 12px;
}

/* NAVIGATION */

nav{
    margin: 0;
    background-color: var(--accent1-color);
    color:var(--primary-color);
    padding: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    
}
nav a{
    color:var(--primary-color);
    text-decoration: none;
}
.navigation{
    list-style: none;
    text-align: center;
    padding:0;

}
.navigation li:first-child {
    display: block;
}

.navigation li{
    display:none;
}

.responsive li {
    display: block;
}

/* HOME BUTTON */

#button{
    background-color: var(--primary-color);
    margin:3rem auto;
    padding: 1rem 4rem;
    border: none;
    color: var(--background-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
#button:hover {
    background-color: var(--accent1-color);
}

/* FOOTER */

footer{
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

footer p, footer a{
    text-decoration: none;
    color:var(--background-color);
    font-family: 'Source Sans Pro', sans-serif;
}

/* TYPES OF RENTAL */

.title{
    color:var(--accent1-color)
}

/* WEATHER */

.weather-div{
    display: block;
}


#forecast{
    display: flex;
    background-color: var(--accent1-color);
    padding: 1rem 2rem;

}

#forecast div{
    width: 20%;

}


.weather-heading{
    text-decoration: overline underline;
    color: var(--accent1-color);
    padding: 1rem;
}

/* RENTALS PRICES */



.top{
    text-align: center;
}

table{
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;

}

th, td {
    padding: 0.7rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.rentaltype{
    font-size: 2rem;
    text-align: center;
}

#rental1, #rental2, #rental3{
    margin: 3rem 0;
    color: var(--primary-color);

}

/* RESERVATION FORM*/

form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    color:var(--text-color);
}

legend{
    font-size: larger;
    font-family: 'Tiro Kannada', serif;
    text-decoration: underline;
    color: var(--primary-color);
}

input[type=text], input[type=tel], input[type=email], select {
    width: 100%;
    max-width: 20rem;
    padding:1rem;
    margin: 0.7rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    max-width: 20rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1rem;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--accent1-color);
}

form div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

fieldset {
    border: 1px solid #ccc;
    margin: 1rem 0; 
}

form label.top, form div {
    display: block;
    font-size: 0.8rem;
}

form label.sbs{
    display: block;
}

#rentalinfo label{
    padding:1rem;
}

#comments{
    border: 1px solid #ccc;
    width: 97%;
    max-width: 600px;
    height: 100px;
    color:#555;
}
.agreement{
    overflow-y: auto;
    height: 150px;
    width: 90%;
    border: 1px solid #ddd;
    padding: 0;
    font-size: 0.7rem;
    text-align: left;
    margin:auto;
    inline-size: 100%;
    overflow-wrap: break-all;
    }

/* CONTACT */

iframe{
    max-width: 30rem;
    width: 80%;
    margin: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
hr{
    border-top: 1px solid #bbb;
}



#location1, #location2{
    margin-top: 2rem;
}

#faq{
    font-size: 1.5rem;
}

#contactdiv{
    display: block;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0.5rem;
    max-width: 40rem;

}

#contactdiv legend{
    text-decoration: none;
}

#questions{
    border: 1px solid #ccc;
    width: 97%;
    max-width: 600px;
    height: 100px;
    color:#555;
}

#fieldsetquestions{
    display: block;
}

/* TOURS */

#tours{
    display:grid;
    grid-template-columns: 1fr;

}

#tours div{
    margin-bottom: 2rem;
}

img[data-src] {
    filter: blur(0.7em);
  }
    
img {
filter: blur(0em);
transition: filter 0.5s;
}

#tours div a{
    color: var(--accent1-color);
}

#beachmap{
    display: none;
}











