@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Bebas+Neue&display=swap");

:root {
    --background-color: #FFFFFF;
    --primary-color: #032D64;
    --text-color:#222222;
    --accent1-color: #1275F8;
  }



body{
    background-color:var(--background-color);
}

p{
    color:var(--text-color);
    background-color: var(--background-color);
    
}

header {
    display: flex;
    justify-content:center;
    background-color: var(--primary-color);
    padding-bottom: 1rem;
}
#header-img{
    display: none;
}

/* NAVIGATION */

nav{
    margin: 0;
    background-color: var(--background-color);
    padding: 1rem;
    color:#232e49;

}
.navigation{
    list-style: none;
    text-align: center;
    padding:0;

}
.navigation li:first-child {
    display: block;
}

.navigation li{
    display:none;
}

.responsive li {
    display: block;
}