@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Bebas+Neue&family=Poppins:wght@100&display=swap');


:root {
  --primary-color: #fffcf2;
  --secondary-color: #232e49;
  --accent1-color: #FFB133;
}

body{

  background-color: rgb(248, 242, 235);
  font-family: 'Poppins', sans-serif;;
  text-align: center;
  margin:2rem;
}

footer{
  background-color: bisque;
  padding: 1rem;
}

#header-example {
  background-color: var(--accent1-color);
  color: var(--secondary-color);
  overflow: hidden;
  font-size: 2rem;
  line-height: 150%;
}
#background-example {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  overflow: hidden;
  font-size: 2rem;
  line-height: 150%;
}

#accent-example{
  background-color: var(--primary-color);
  color: var(--accent1-color);
  overflow: hidden;
  font-size: 2rem;
  line-height: 150%;
}

#colors {
    max-width: 50%;
    margin: auto;
    padding: 2rem;
  }
.logo{
  max-width: 30%;
  margin: auto;
}

.persona{
  max-width: 20%;

}

a:link {
  color: var(--accent1-color);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: var(--accent1-color);
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin-bottom: 0.5rem;
  padding: 0;
}

#header-font{

  font-family:  'Bebas Neue', cursive;


}

#paragraph-font{
  font-family:  'Akshar', sans-serif;
  font-size: 1.2rem;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  font-size: 1rem;
  padding: 10px;
  background-color: bisque;
  text-align: center;
}
