@media (max-width: 768px) {

    h1 {
        font-size: 2.2em;
        padding-top: 20px;
      }
      
    h2 {
        font-size: 1.8em;
      }

    p{
        font-size: 1.4em;
    }
      
    nav {
        margin: 0 auto;
        max-width: 900px;
      }
    nav ul {
        display: block;
        border-radius: 5px;
    }
    nav li {
        padding: 10px;
    }
    nav a {
        font-size: 1.2em;
    }

    .logo{
        max-width: 60%;

    }

    .persona{
        max-width: 40%;
    
      }

}