@media only screen and (min-width: 32.5em){
    header img {
        width: 180px;
    }
    .navigation {
        display: flex;
    }

    .navigation li:first-child{
        display:none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }


    .map-contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin:0;
        color: var(--primary-color);
        padding: 0 3rem;
        background-color: var(--secondary-color);
    
    }

    #contact{
        margin:1rem;
    }
    

}

    
