@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Bebas+Neue&display=swap");

:root {
    --primary-color: #fffcf2;
    --secondary-color: #232e49;
    --accent1-color: #FFB133;
  }

#prestonbanner{
    color:var(--primary-color);
    background-color:var(--secondary-color) ;
    padding:1.5rem;

}
body{
    background-color: var(--primary-color);
    font-family: 'Akshar', sans-serif;
    color: var(--secondary-color);
    text-align: center;
    margin:auto;
}
main{
    margin: 10px;
}
header{
    padding: 5px 0;
    display: flex;
    align-items: center;
}

header img{
    width: 130px;
    height: auto;
}
nav{
    margin: 0;
    background-color: var(--accent1-color);
    padding: 1rem;
    color:#232e49;

}
.navigation{
    list-style: none;
    text-align: center;
    padding:0;

}
.navigation li:first-child {
    display: block;
}

.navigation li{
    display:none;
}

.responsive li {
    display: block;
}


picture{
    margin:1rem;
    text-align: center;
}
.headings{
    display: flex;
    flex-direction: column;
}
h1, h2{
    font-family:  'Bebas Neue', cursive;
}
.cityname{
    font-size: 40px;
}

/*Hero*/
main div.weather-summary-div{
    width: 90%;
    margin: 0 ;
}

main div.weather-summary-div img{
    width: 100%;
    margin: 0 0 0 2%;
}

.stats{
    background: var(--accent1-color);
    border: 1px solid #000;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 0 30px #333;
    opacity: 1;
    font-size: 18px;
    margin-left: 3rem;
}
/*//////////*/
.calendar{
    display: block;
    margin: 1rem;
    padding: 2rem;
    color: var(--secondary-color);
    background-color:white;
    box-shadow: 5px 5px 5px 5px #ccc;
}
.calendar img{
    display: none;
    width: 100%;
}
.calendar h2{
    text-decoration: underline;
}
.calendar h3{
    font-size: 20px;
    font-weight: bolder;
}


.forecast{
    display: none;
}

.forecast-heading{
    display: none;
}

.map{
    max-width: 250px;
  }
.contact img{
    padding: 2px;
}
.map-and-contact{
    justify-content: center;
    align-items: center;
    column-gap:4rem;
    background-color: var(--secondary-color);
    color:var(--primary-color);
    padding:1.5rem;
    margin-top:1rem;
  }

/*/// Weather Gallery ///*/

#weathergallery{
    display:grid;
    grid-template-columns: 1fr;

}

#weathergallery div{
    margin-bottom: 2rem;
}

img[data-src] {
    filter: blur(0.7em);
  }
    
img {
filter: blur(0em);
transition: filter 0.5s;
}



/*//////////////////////*/

a{
    text-decoration: none;
    color:#232e49;
}

li:hover {
    font-size: large;
}

#map{
    width: 300px;
}


footer{
    background-color: var(--accent1-color);
    padding:2em;
    text-align: center;
    color:#232e49;

}