@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Bebas+Neue&display=swap");

:root {
    --primary-color: #fffcf2;
    --secondary-color: #232e49;
    --accent1-color: #FFB133;
  }
body{
    background-color: var(--primary-color);
    font-family: 'Akshar', sans-serif;
}

header{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

header img{
    width: 130px;
    height: auto;
}

.headings{
    display: flex;
    flex-direction: column;
}

h1, h2{
    font-family:  'Bebas Neue', cursive;
}

nav{
    margin: 0;
    background-color: var(--accent1-color);
    padding: 1rem;
}
.navigation{
    list-style: none;
    text-align: center;
    padding:0;

}
.navigation li:first-child {
    display: block;
}

.navigation li{
    display:none;
}

.responsive li {
    display: block;
}