@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Bebas+Neue&display=swap");

:root {
    --primary-color: #fffcf2;
    --secondary-color: #232e49;
    --accent1-color: #FFB133;
  }
body{
    background-color: var(--primary-color);
    font-family: 'Akshar', sans-serif;
    color: var(--secondary-color);
    text-align: center;
    margin:auto;
}
main{
    margin: 10px;
}
header{
    padding: 5px 0;
    display: flex;
    align-items: center;

}

header img{
    width: 130px;
    height: auto;
}

.map-contact{
    display: block;
    margin:0;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding:0.5rem;
    padding-top: 1rem;
}
#map{
    height: 100px;
    width: auto;
}

picture{
    margin:1rem;
    text-align: center;

}
.headings{
    display: flex;
    flex-direction: column;
}

h1, h2{
    font-family:  'Bebas Neue', cursive;
}
.cityname{
    font-size: 40px;
}

.contentbox{
    display: block;
    margin: 1rem;
    padding: 1rem;
    color: var(--secondary-color);
    box-shadow: 5px 5px 5px 5px #ccc;
}
a{
    text-decoration: none;
    color:var(--primary-color);
}

nav{
    margin: 0;
    background-color: var(--accent1-color);
    padding: 1rem;
    color:#232e49;

}
.navigation{
    list-style: none;
    text-align: center;
    padding:0;

}
.navigation li:first-child {
    display: block;
}

.navigation li{
    display:none;
}

.responsive li {
    display: block;
}

footer{
    background-color: var(--accent1-color);
    padding:2em;
    text-align: center;
    color:#232e49;

}