@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Ubuntu:wght@300&display=swap');
/* Small viewport */

:root {
    --primary-color: #efefef;
    --secondary-color: #d3dbff;
    --heading-font-color: #343765;
    --font-color: #242323;
}


body{
    margin:0 1rem;
    text-align: center;
    background-color: var(--primary-color);
}

main{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    padding: 1rem 0; 
}
h2, h1{
    font-family: 'Ubuntu', sans-serif;
    color: var(--heading-font-color);
}

p{
    font-family: 'Lato', sans-serif;
    color: var(--font-color);
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;

}
.cards section {
    grid-template-columns: 1fr;
}

section{
    border: 1px solid var(--heading-font-color);
    margin: 0.5rem;
    padding-bottom: 1rem;
    background-color: var(--secondary-color);
}

section img{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}

/* Medium viewport */
@media (min-width: 600px) { /* 520px */
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

/* Large viewport */
@media (min-width: 900px) { /* 960px */ 
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .cards section img {
        width:70%;
    }

}