@media (min-width: 780px) and (max-width: 1200px){
    .picture{
        float: right;
    }
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
    }
    footer{
        font-size: 1em;
    }
}

    
